<!-- Additional head content -->
<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicon/favicon.ico">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!-- Global CSS Variables -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/global-variables.css">
<!-- UI Components Styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ui-components.css">
<!-- Custom CSS Overrides -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/override.css">
<!-- Button Styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/buttons.css">
<!-- Accordion Styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/accordion.css">
<!-- Category Navigation Styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/category-nav.css">
<!-- Tab Icons Styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tab-icons.css">
<!-- Tabs Styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tabs.css">
<!-- Drills Styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/drills.css">
<!-- Quiz Integration Styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/quiz-integration.css">
<!-- Textbook Styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/textbook-styles.css">

<!-- JavaScript, all with defer attribute to prevent blocking -->
<script src="{{ site.baseurl }}/assets/js/coach-auth.js" defer></script>
<script src="{{ site.baseurl }}/assets/js/search-exclusion.js" defer></script>
<script src="{{ site.baseurl }}/assets/js/accordion.js" defer></script>
<script src="{{ site.baseurl }}/assets/js/tabs.js" defer></script>
<script src="{{ site.baseurl }}/assets/js/quiz-integration.js" defer></script>
<script src="{{ site.baseurl }}/assets/js/navigation.js" defer></script>