{% comment %}
Usage instructions:
1. Include this file in your markdown with: {% include tabs.html %}
2. Structure your content using the pattern below:

```
<div class="tab-container">
    <div class="tab-nav">
        <!-- You can use either tab-button or tab-link class - both are supported -->
        <button class="tab-button active" data-tab="tab1">Tab 1 Title</button>
        <button class="tab-button" data-tab="tab2">Tab 2 Title</button>
        <button class="tab-button" data-tab="tab3">Tab 3 Title</button>
        <!-- Alternative using tab-link -->
        <!-- <a class="tab-link active" data-tab="tab1">Tab 1 Title</a> -->
        <!-- <a class="tab-link" data-tab="tab2">Tab 2 Title</a> -->
        <!-- <a class="tab-link" data-tab="tab3">Tab 3 Title</a> -->
    </div>

    <div class="tab-content active" id="tab1">
        <div class="tab-content-inner">
            <p>Content for Tab 1...</p>
            <a href="#" class="cta-button">Call To Action</a>
        </div>
    </div>

    <div class="tab-content" id="tab2">
        <div class="tab-content-inner">
            <p>Content for Tab 2...</p>
            <a href="#" class="cta-button">Call To Action</a>
        </div>
    </div>

    <div class="tab-content" id="tab3">
        <div class="tab-content-inner">
            <p>Content for Tab 3...</p>
            <a href="#" class="cta-button">Call To Action</a>
        </div>
    </div>
</div>
```
{% endcomment %}