<div class="textbook-navigation">
  <div class="textbook-toc">
    <h3>Table of Contents</h3>

    <div class="toc-part">
      <h4><a href="{{ site.baseurl }}/textbook/chapters/part1.html">Part 1: Getting Started</a></h4>
      <ul>
        <li><a href="{{ site.baseurl }}/textbook/chapters/part1.html#chapter-1-introduction">Chapter 1: Introduction</a>
        </li>
        <li><a
            href="{{ site.baseurl }}/textbook/chapters/part1.html#chapter-2-your-first-session-what-to-expect--bring">Chapter
            2: Your First Session</a></li>
      </ul>
    </div>

    <div class="toc-part">
      <h4><a href="{{ site.baseurl }}/textbook/chapters/part2.html">Part 2: For the Learner</a></h4>
      <ul>
        <li><a href="{{ site.baseurl }}/textbook/chapters/part2.html#chapter-3-rowing-fundamentals">Chapter 3: Rowing
            Fundamentals</a></li>
        <li><a href="{{ site.baseurl }}/textbook/chapters/part2.html#chapter-4-developing-your-technique">Chapter 4:
            Developing Your Technique</a></li>
        <li><a href="{{ site.baseurl }}/textbook/chapters/part2.html#chapter-5-essential-skills--knowledge">Chapter 5:
            Essential Skills & Knowledge</a></li>
      </ul>
    </div>

    <div class="toc-part">
      <h4><a href="{{ site.baseurl }}/textbook/chapters/part3.html">Part 3: Safety</a></h4>
      <ul>
        <li><a href="{{ site.baseurl }}/textbook/chapters/part3.html#chapter-6-on-water-safety-protocols">Chapter 6:
            On-Water Safety Protocols</a></li>
        <li><a
            href="{{ site.baseurl }}/textbook/chapters/part3.html#chapter-7-capsize-recovery-the-flip-test--self-rescue">Chapter
            7: Capsize Recovery</a></li>
      </ul>
    </div>

    <div class="toc-part">
      <h4><a href="{{ site.baseurl }}/textbook/chapters/part4.html">Part 4: Appendices</a></h4>
      <ul>
        <li><a href="{{ site.baseurl }}/textbook/chapters/part4.html#appendix-a-glossary-of-rowing-terms">Appendix A:
            Glossary of Rowing Terms</a></li>
        <li><a href="{{ site.baseurl }}/textbook/chapters/part4.html#appendix-b-aarc-policies">Appendix B: AARC
            Policies</a></li>
        <li><a href="{{ site.baseurl }}/textbook/chapters/part4.html#appendix-c-resources--next-steps">Appendix C:
            Resources & Next Steps</a></li>
      </ul>
    </div>
  </div>
</div>